@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1200px) {
}

//ipad pro
@media screen and (max-width: 1024px) {
  .About {
    padding: 10px 0;
    h1 {
      font-size: 50px;
    }
    .about-content {
      width: 90%;

      .about-content-text {
        p {
          margin: 25px 0;
          font-size: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
}

//ipad
@media screen and (max-width: 768px) {
  .About {
    h1 {
      font-size: 40px;
    }
    .about-content {
      .about-content-text {
        p {
          margin: 15px 0;
          font-size: 20px;
        }
      }
    }
  }
}

//Surface Duo
@media screen and (max-width: 540px) {
  .About {
    h1 {
      font-size: 35px;
    }
    .about-content {
      .about-content-text {
        p {
          margin: 10px 0;
          font-size: 14px;
        }
      }
    }
  }
}

//iPhone6/7/8 Plus
@media screen and (max-width: 414px) {
  .About {
    h1 {
      font-size: 30px;
    }
    .about-content {
      .about-content-text {
        p {
          font-size: 12px;
        }
      }
    }
  }
}

//iphoneX
@media screen and (max-width: 375px) {
}

//iphone 5/SE
//Galaxy fold

@media screen and (max-width: 320px) {
  .About {
    h1 {
      font-size: 25px;
    }
    .about-content {
      .about-content-text {
        p {
          font-size: 10px;
        }
      }
    }
  }
}

//galaxy fold
@media screen and (max-width: 280px) {
}
