@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1200px) {
}

//ipad pro
@media screen and (max-width: 1024px) {
  .Tour {
    padding: 10px 0;
    h1 {
      font-size: 50px;
    }
    .tour-content {
      width: 90%;

      .tour-flex {
        gap: 40px;
        h2 {
          font-size: 40px;
        }
        p {
          font-size: 25px;
        }
      }
    }
    .bookNow {
      a {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
}

//ipad
@media screen and (max-width: 768px) {
  .Tour {
    h1 {
      font-size: 40px;
    }
    .tour-content {
      .tour-flex {
        gap: 40px;
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .bookNow {
      a {
        font-size: 20px;
      }
    }
  }
}

//Surface Duo
@media screen and (max-width: 540px) {
  .Tour {
    h1 {
      font-size: 35px;
    }
    .tour-content {
      align-items: center;

      .tour-flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        h2 {
          font-size: 25px;
        }
        p {
          font-size: 15px;
        }
      }
    }
    .bookNow {
      a {
        font-size: 15px;
      }
    }
  }
}

//iPhone6/7/8 Plus
@media screen and (max-width: 414px) {
  .Tour {
    h1 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    .tour-content {
      .tour-flex {
        gap: 10px;
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 12px;
        }
      }
    }
    .bookNow {
      a {
        font-size: 12px;
      }
    }
  }
}

//iphoneX{
@media screen and (max-width: 375px) {
}

//iphone 5/SE
//Galaxy fold

@media screen and (max-width: 320px) {
}

//galaxy fold
@media screen and (max-width: 280px) {
}
