@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1200px) {
}

//ipad pro
@media screen and (max-width: 1024px) {
  .Contact {
    padding: 10px 0;
    .contact-content {
      width: 90%;
      align-items: center;

      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 40px;
      }
      h3 {
        font-size: 30px;
      }
      .contact-cons {
        p {
          font-size: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
}

//ipad
@media screen and (max-width: 768px) {
  .Contact {
    .contact-content {
      h1 {
        font-size: 40px;
      }
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 20px;
      }
      .contact-cons {
        p {
          font-size: 20px;
        }
      }
    }
  }
}

//Surface Duo
@media screen and (max-width: 540px) {
  .Contact {
    .contact-content {
      h1 {
        font-size: 35px;
      }
      h2 {
        font-size: 25px;
      }
      h3 {
        font-size: 15px;
      }
      .contact-cons {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

//iPhone6/7/8 Plus
@media screen and (max-width: 414px) {
  .Contact {
    .contact-content {
      h1 {
        font-size: 30px;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 12px;
      }
      .contact-cons {
        p {
          font-size: 12px;
        }
      }
    }
  }
}

//iphoneX{
@media screen and (max-width: 375px) {
}

//iphone 5/SE
//Galaxy fold

@media screen and (max-width: 320px) {
}

//galaxy fold
@media screen and (max-width: 280px) {
}
